{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.make.label }}
            {{ form.make }}
            <br>
            {{ form.model.label }}
            {{ form.model }}
            <br>
            {{ form.year.label }}
            {{ form.year }}
            <br>
            {{ form.reg.label }}
            {{ form.reg }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}