{% extends "layout.html" %}
{% block body_content %}
    <h1>Home Page</h1>
    <p>Welcome to the car app!</p>

        <div>
            <h2>
                <p>Make: {{ car.make }}</p>
                <p>Model: {{ car.model }}</p>
                <p>Year: {{ car.year }}</p>
                <p>Reg: {{ car.reg }}</p>

            </h2>
        </div>
        <div>
            <h2>
                <p>Make: {{ car.make }}</p>
                <p>Model: {{ car.model }}</p>
                <p>Year: {{ car.year }}</p>
                <p>Reg: {{ car.reg }}</p>

            </h2>
        </div>

{% endblock body_content %}
