{% extends "layout.html" %}
{% block body_content %}
    <h1>
    <p>Welcome to the car app!</p>
    </h1>
        <div>
            
            <h3>
                {% for car in cars %}
                YOUR CAR DETAILS<br>
                <p>ID: {{ car.car_id }} Make: {{ car.make }} Model: {{ car.model }} Year: {{ car.year }} Reg: {{ car.reg }}</p>
                {% endfor %}
                
                <br>
                =======================================================================
                <br>

                {% for part in parts %}
                PARTS ADDED:
                <p>Car ID:{{ part.cars_id}} Part Name:{{ part.part_name }} Part Desc:{{part.part_desc }} Price:{{ part.price }}</p>

                {% endfor %}
            </h3>
        </div>


{% endblock body_content %}
