{% extends "layout.html" %}
{% block body_content %}
    <h1>Home Page</h1>
    <p>Welcome to the car app!</p>

        <div>
            
            <h2>
                {% for car in cars %}
                YOUR CAR DETAILS<br>
                <p>Make: {{ car.make }} Model: {{ car.model }} Year: {{ car.year }} Reg: {{ car.reg }}</p>
                {% endfor %}
                
                <br>
                =======================================================================
                <br>

                {% for part in parts %}
                <p>{{ car.cars_id}} {{ part.part_name }} {{part.part_desc }} {{ part.price }}</p>
                {% endfor %}
            </h2>
        </div>


{% endblock body_content %}
